


<div class="container d-flex clearfix flex "  id="b-accessibility">
  <div class="b-ministryname ">
    <div class="text-right d-inline-block font-weight-bold b-acc-goi my-sm-1 pr-sm-2">
      <span>भारत सरकार</span> <br> <span>GOVERNMENT OF INDIA</span>
    </div>

    <div class="font-weight-bold d-inline-block b-acc-ministry my-sm-1 pl-sm-1">
      <span>मंत्रालय / विभाग नाम</span> <br> <span>MINISTRY / DEPT. NAME</span>
    </div>
  </div>

  <div class="ml-auto d-flex b-acc-icons ">
    <div class="align-self-center ">

      <!-- Search dropdown -->
      <div class="d-inline-block h-100 px-3">
        <div ngbDropdown class="d-inline-block h-100">
          <button class="btn" id="searchDropdown" ngbDropdownToggle style="cursor: pointer;">
            <img src="assets/images/icons/ico-site-search.png" alt="site search icon" title="Site search">
          </button>
          <div ngbDropdownMenu class="dropdown-menu p-0 border-0 b-search" aria-labelledby="searchDropdown">
            <label for="site-search" style="display:none;">Site search</label>
            <input type="text" class="form-control float-left b-site-search" id="site-search" placeholder="Search" style="width: 150px; border-radius: 0;">
            <div class="input-group-btn float-left">
              <button class="btn" type="submit" style="border-radius: 0; background: #505050; color: white; box-shadow: 0 0 0 0.2rem rgba(0,123,255,0);">
                <span style="display:none;">Search</span>
                <span class="fas fa-search"></span>
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Social icons dropdown -->
      <div class="d-inline-block h-100 px-3">
        <div ngbDropdown class="d-inline-block h-100">
          <button class="btn" id="socialDropdown" ngbDropdownToggle style="cursor: pointer;">
            <img src="assets/images/icons/ico-social.png" alt="social sites links" title="Social links">
          </button>
          <div ngbDropdownMenu class="dropdown-menu b-social-dropdown" aria-labelledby="socialDropdown" style="min-width: 50px; width: 50px">
            <a href="javascript:void(0)" class="dropdown-item"> <span style="display:none;">Facebook link</span><span class="fab fa-facebook-f"></span> </a>
            <a href="javascript:void(0);" class="dropdown-item"> <span style="display:none;">Twitter link</span><span class="fab fa-twitter"></span> </a>
            <a href="javascript:void(0)" class="dropdown-item"> <span style="display:none;">Youtube link</span><span class="fab fa-youtube"></span> </a>
          </div>
        </div>
      </div>

      <!-- Skip to Main Content link -->
      <div class="d-inline-block h-100 px-3">
        <a href="#b-homedb" class="align-self-center b-skiptomain" title="Skip to main content">
          <img src="assets/images/icons/ico-skip.png" alt="skip to main content icon">
        </a>
      </div>

      <!-- Accessibility dropdown -->
      <div class="d-inline-block h-100 px-3">
        <div ngbDropdown class="d-inline-block h-100">
          <button class="btn" id="accessibilityDropdown" ngbDropdownToggle style="cursor: pointer;">
            <img src="assets/images/icons/ico-accessibility.png" alt="accessibility icon" title="Accessibility Dropdown">
          </button>
          <div ngbDropdownMenu class="dropdown-menu b-accessibility-dropdown" aria-labelledby="accessibilityDropdown" style="min-width: 50px; width: 50px">
            <a href="javascript:void(0);" class="dropdown-item" title="Increase font size"> <span class="font-weight-bold"> A<sup>+</sup> </span> </a>
            <a href="javascript:void(0)" class="dropdown-item" title="Reset font size"> <span class="font-weight-bold"> A </span> </a>
            <a href="javascript:void(0);" class="dropdown-item" title="Decrease font size"> <span class="font-weight-bold"> A<sup>-</sup> </span> </a>
            <a href="javascript:void(0)" class="dropdown-item bg-dark" title="High contrast"> <span class="font-weight-bold text-white"> A </span> </a>
          </div>
        </div>
      </div>

      <!-- Sitemap link -->
      <div class="d-inline-block h-100 px-3">
        <a href="site-map.html" title="Sitemap">
          <img src="assets/images/icons/ico-sitemap.png" alt="sitemap icon">
        </a>
      </div>

    </div>
  </div>
</div>
<div class="container clearfix d-flex" id="b-header">
  <div class="float-left d-flex align-items-center"> <!-- Adjusted class -->
    <img src="assets/images/emblem-dark.png" class="b-emblem-image" title="National Emblem of India" alt="emblem of india logo">
  </div>

  <div class="float-left d-flex align-items-center pl-3"> <!-- Adjusted class -->
    <strong>
      <span>वेब एप्लिकेशन पोर्टल</span> <br><span>Web Application Portal</span>
    </strong>
  </div>
</div>



 