
<div class="footer-bs  footer">
    <footer class="container">
      <div class="row">
        <div class="row col-md-7 col-sm-12 footer-nav">
          <p class="col-md-12">Quick Links —</p>
          <div class="col-sm-6">
            <ul class="list ">
              <li><a style="color: white;"  routerLink="/about">About Us</a></li>
              <li><a style="color: white;"  routerLink="/contact">Contact Us</a></li>
              <li><a style="color: white;"  routerLink="/help">Help</a></li>
            </ul>
          </div>
          <div class="col-sm-6">
            <ul class="list ">
              <li data-toggle="modal" data-target="#feedback-modal"><a style="color: white;" href="javascript:void(0)">Feedback</a></li>
              <li><a style="color: white;"  routerLink="/terms">Terms &amp; Condition</a></li>
              <li><a style="color: white;"  routerLink="/privacy">Privacy Policy</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-8 footer-social d-flex">
          <div class="d-inline-block align-self-center">
            <p class="bg-light"><img src="assets/images/NIC.png" alt="NIC logo"></p>
            <p class="bg-light mb-0"><img src="assets/images/digital-india.png" alt="digital india logo"></p>
          </div>
        </div>
        <div class="col-md-2 col-sm-4 footer-ns d-flex">
         <!-- Replace ngb-button with button -->
        <button class="backtotop align-self-center d-flex text-center text-decoration-none text-white" title="Back to top" (click)="scrollToTop()">
            <span style="display:none;">Back to top</span>
            <span style="font-size: 24px;" class="fas fa-angle-up align-self-center mx-auto"></span>
        </button>
  
        </div>
      </div>
      <div class="text-center mt-5">
      <p style="display: inline; color: white;"> Website Content Managed by </p> 
        <a class="imp-link" href="https://www.nic.in/">National Informatics Centre</a>,
        <a class="imp-link" href="https://meity.gov.in/">Ministry of Electronics and IT</a>,
        <a class="imp-link"  href="https://www.india.gov.in/">Govt. of India.</a>
      </div>
    </footer>
  </div>
  