
    .nav{
        background-image: linear-gradient(90deg, #000000, #982b62)!important;
       padding-top : 15px;
       padding-right : 15px;
       padding-bottom : 15px;
       padding-left  : 0px;
       
     }
li{
    list-style: none;
    font: 16px lato , sans-serif;
}