.header {
    height: 70px;
    padding: 20px 50px;
    background-color: purple;
    background-image: linear-gradient(90deg, #000000, #982b62);
    color: #fff;
    display: flex;
    justify-content: space-between;
    
    position: fixed;
    width: 100%;
  }
  
  .header .logo {
    font-weight: bold;
    font-size: 20px;
  }
  
  .header .user {
    display: flex;
    align-items: center;
    font-weight: bold;
  }
  
  .header .user .user-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #fff;
    background-color: rgb(11, 107, 185);
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
  }
  