<div class="nav-items">
  <div class="nav-item" routerLink="dashboard" routerLinkActive="active">
    <fa-icon [icon]="fadashboard"></fa-icon>
    Dashboard
  </div>
  <div class="nav-item" routerLink="connection" routerLinkActive="active">
    <fa-icon [icon]="faconsumption"></fa-icon>
    Connection
  </div>
  <div class="nav-item" routerLink="consumption">
    <fa-icon [icon]="faconsumption"></fa-icon>
    Consumption
  </div>
  <div class="nav-item" routerLink="water-bill">
    <fa-icon [icon]="fawatervill"></fa-icon>
    Water Bill
  </div>
  <div class="nav-item" routerLink="sewage-bill">
    <fa-icon [icon]="fasewaragebill"></fa-icon>
    Sewage Bill
  </div>
  <div class="nav-item" routerLink="payment-history">
    <fa-icon [icon]="fapaymenthistory"></fa-icon>
    Payment History
  </div>
  <div class="nav-item" routerLink="message-inbox">
    <fa-icon [icon]="famessageinbox"></fa-icon>
    Message Inbox
  </div>
  <div class="nav-item" routerLink="user-management">
    <fa-icon [icon]="fausermanagement"></fa-icon>
    User Management
  </div>
  <div class="nav-item" routerLink="error-logs">
    <fa-icon [icon]="faerrorlogs"></fa-icon>
    Error Logs
  </div>
</div>
