.nav-items {
  padding-top: 80px;
}

.nav-item {
  padding: 25px 50px;
  cursor: pointer;
}

@media only screen and (min-width: 1300px) {
  .nav-item {
    padding: 25px 40px;
  }
}

.nav-item:hover {
  background-color: rgb(1, 38, 69);
}

.nav-item fav-icon {
  margin-right: 20px;
  font-size: 22px;
}

.nav-item span {
  display: inline;
}

@media only screen and (min-width: 1300px) {
  .nav-item span {
    display: none;
  }
}
